<h2 class="cover-heading">Register</h2>

{{#if errors}}
	{{#each errors}}
		<div class="notice error">
			<div class="alert alert-danger">{{ msg }}</div>
		</div>
	{{/each}}
{{/if}}

<form action="/users/register" method="post">
	<div class="form-group">
		<label for="name">Name</label>
		<input name="name" type="text" class="form-control" placeholder="Name">
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input name="email" type="email" class="form-control" placeholder="Email">
	</div>
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" name="username" class="form-control" placeholder="Username">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" name="password" class="form-control" placeholder="Password">
	</div>
	<div class="form-group">
		<label for="password2">Confirm Password</label>
		<input type="password" name="password2" class="form-control" placeholder="Confirm Password">
	</div>

	<button class="btn btn-default" type="submit">Submit</button>
</form>